*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}
.cont{
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}
.header{
    padding-top: 40px;
    text-align: center;
}
.form-connect{
    padding-left: 42%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-btn{
    margin-top: 30px;
    padding: 5px;
}
input{
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px;
}