.cont-icons{
    height: 50vh;
    padding-top: 2vh;
    padding-left: 5vh;
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
}
.icon{
    background-color: #1f1f1f;
    color: white;
    height: 21vh;
    width: 15vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.img-and-vote{
    position: relative;
    display: inline-block;
}
.icon-img{
    height: 15vh;
    width: 15vh;
    object-fit: cover;
    object-position: top;
    display: block;
}
.cont-vote{
    height: 3.5vh;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.btn-vote{
    padding: 0.4vh;
    color: white;
    background-color: red;
    border-style: none;
    border-radius: 7px;
}
.btn-other{
    padding: 0.4vh 0.8vh 0.4vh 0.8vh;
    color: white;
    background-color: #131313;
    border-style: none;
    border-radius: 7px;

}