*{
    margin: 0;
    padding: 0;
}
.top-div {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.cont-interface{
    display: flex;
}
.left-panel{
    margin-top: 4vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.role-img{
    margin-top: 4vh;
    width: 20vh;
}
.menu-buttons{
    display: flex;
    flex-direction: column;
}
.btn-leave{
    width: 20vh;
    height: fit-content;
    padding: 1vh;
    margin-top: 3vh;
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 7px;
    margin-left: 20vh;
}
.btn-ready{
    width: 20vh;
    margin-left: auto;
    height: fit-content;
    padding: 1vh;
    margin-top: 3vh;
    border-radius: 7px;
    border-style: none;
    background-color: green;
    color: white;
}
.btn-not-ready{
    width: 20vh;
    margin-left: auto;
    height: fit-content;
    padding: 1vh;
    margin-top: 3vh;
    border-radius: 7px;
    border-style: none;
    background-color: #2d2b2d;
    color: white;
}