*{
    margin: 0;
    padding: 0;
}
.top-div {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.cont-interface{
    display: flex;
}

.btn-leave{
    width: 20vh;
    height: fit-content;
    padding: 1vh;
    margin-top: 3vh;
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 7px;
    margin-left: auto;
    margin-right: 10vh;
}
